.Header_container {
    padding: 0 20px;
}

.header_content {
    padding: 0 20px;
    background: #4991c5;
    align-items: center;
    justify-content: center;
    display:flex;
    justify-content: space-between;
}

.header_currency_wrapper {
    align-items: center;
    justify-content: center;
    display:flex;
}

.header_currency {
    margin-left: 10px;
    width: 200px;
    overflow:hidden;
    white-space:nowrap;
    display: flex;
    font-size: 20px;
}

.currency_values {
    margin-left: 10px;
    position: relative;
    -webkit-animation: scroll 10s infinite linear;;
    -moz-animation: scroll 10s infinite linear;
    -o-animation: scroll 10s infinite linear;
    animation: scroll 10s infinite linear;
}

@keyframes scroll{
    0%   {left: 250px;}
    100% {left: -300px;}
}
@-webkit-keyframes scroll{
    0%   {left: 250px;}
    100% {left: -250px;}
}
